[Unit]
Description=Script bashcata to MikroTik
After=suricata.service

[Service]
Type=simple
ExecStart=/home/shells/bash_cata/bash_cata.sh

[Install]
WantedBy=multi-user.target
